.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 30px;
}



.container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.container select,
.container input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #e67300;
}