.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.slideshow {
  flex: 1;
  max-width: 400px;
  position: relative;
}

.slideshow h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px; 
  color: #333;
}

.slideshow img {
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.slideshow img:hover {
  transform: scale(1.05);
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.info h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.info p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
}

.features {
    background-color: #f9f9f9; 
    border: 2px solid #ccc; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
    font-size: 16px; 
  }
  
  .features p {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
  }
  

@media (max-width: 768px) {
  .details {
    flex-direction: column;
    align-items: center;
  }

  .slideshow, .info {
    max-width: 100%;
    padding: 0;
  }

  .slideshow img {
    width: 100%;
  }
}
