.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-width: 1100px;
    flex-wrap: wrap;

}

.content {
    flex: 1;
    margin-right: 32px; 
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #333;
}

.subtitle {
    font-size: 19.2px;
    color: #666;
    margin: 16px 0;
}

.exploreButton {
    padding: 12.8px 24px; 
    font-size: 16px; 
    font-weight: 600;
    color: white;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exploreButton.hovered {
    background-color: #e67300;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.carImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

@media (min-width: 300px) and (max-width: 900px) {
    .hero {
        justify-content: center;
        flex-direction: column; /* Stack content and image */
    }

    .content {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .title {
        font-size: 24px; 
    }

    .subtitle {
        font-size: 14px;
    }

    .exploreButton {
        font-size: 12px;
        padding: 8px 16px;
    }

    .carImage {
        max-width: 350px;
    }
}